<section class="single-page-form">
  <h3>Create a buddy!</h3>
  <form ng-submit="add()">
    <label>Name:</label>
    <input type="text" ng-model="name" />
    <label>Description:</label>
    <input type="text" ng-model="description" />
    <label>Happy response:</label>
    <input type="text" ng-model="happy" />
    <input type="file" id="happy-pic" />
    <label>Sad response:</label>
    <input type="text" ng-model="sad" />
    <label>Very happy response:</label>
    <input type="text" ng-model="veryHappy" />
    <label>Very sad response:</label>
    <input type="text" ng-model="verySad" />
    <label>Duck face response:</label>
    <input type="text" ng-model="duckFace" />
    <button type="submit">Submit</button>
  </form>
</section>
