<section class="single-page-form">
  <h4>Create a buddy!</h3>
  <form ng-submit="add()">
    <div class="form-group">
      <label class="control-label col-md-4">Name:</label>
      <div class="col-md-8"><input type="text" ng-model="name" class="form-control" /></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Description:</label>
      <div class="col-md-8"><input type="text" ng-model="description" class="form-control" /></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Profile picture:</label>
      <div class="col-md-8"><input type="file" id="default-pic" class="upload"/></div>
    <div class="form-group">
      <label class="control-label col-md-4">Happy response:</label>
      <div class="col-md-8"><input type="text" ng-model="happy" class="form-control" /><input type="file" id="happy-pic" class="upload"/></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Sad response:</label>
      <div class="col-md-8"><input type="text" ng-model="sad" class="form-control" /><input type="file" id="sad-pic" class="upload"/></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Very happy response:</label>
      <div class="col-md-8"><input type="text" ng-model="veryHappy" class="form-control" /><input type="file" id="very-happy-pic" class="upload"/></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Very sad response:</label>
      <div class="col-md-8"><input type="text" ng-model="verySad" class="form-control" /><input type="file" id="very-sad-pic" class="upload"/></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Duck face response:</label>
      <div class="col-md-8"><input type="text" ng-model="duckFace" class="form-control" /><input type="file" id="duck-face-pic" class="upload"/></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
