.single-page-form {
	font-family: 'Open Sans';
  width: 75%;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
	.col-md-8 {
		padding-bottom: 20px;
	}
  .upload {
    padding-top: 20px;
  }
}
